<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/404.css}" rel="stylesheet" />

    <title>Error 404</title>
</head>

<body>
    <div class="logo">
        <a th:href="@{/}">
            <img height="80" width="200" class="logo-image" th:src="@{'../images/CEMA-logo-definitivo.svg'}" />
        </a>
    </div>

    <div class="contenedor">
        <div class="contenido-404">

        
            <img height="200" width="200" th:src="@{'../images/corbata.svg'}" />
            <br>
          
            <div class="imagen">
            <p id="error">404</p>
            <br>
        </div>
            <pre>Esta Página no existe</pre>
            <p>Inténtelo con otra dirección...</p>
        </div>
    </div>


</body>

</html>