@font-face {
    font-family: 'Poppins Regular';
    src: url('../font/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins Titulo';
    src: url('../font/Poppins/Poppins-Bold.ttf');
}

*{
    margin: 0;
    padding: 0;
}


.contenido-404{
    margin: 0 auto;
    width: 200px;       
    height: 200px;  
}

#error{
    font-family: Poppins Titulo;
    font-size: 6em;
    text-align: center;
}
p{
    font-family: Poppins Regular;
    text-align: center;
    font-size: 1.3em;
}
pre{
    font-family: Poppins Regular;
    text-align: center;
    font-size: 1.3em;
}

