@font-face {
    font-family: 'Montserrat Regular';
    src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat Titulo';
    src: url('../font/Montserrat-Bold.ttf');
}

*{
    margin: 0;
    padding: 0;
}


.contenido-404{
    margin: 0 auto;
    width: 200px;       
    height: 200px;  
}

#error{
    font-family: Montserrat Titulo;
    font-size: 6em;
    text-align: center;
}
p{
    font-family: Montserrat Regular;
    text-align: center;
    font-size: 1.3em;
}
pre{
    font-family: Montserrat Regular;
    text-align: center;
    font-size: 1.3em;
}

