@font-face {
    font-family: 'Montserrat Regular';
    src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat Titulo';
    src: url('../font/Montserrat-Bold.ttf');
}
*{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

}
.menu image{
    left: 0;
}
.menu p{
    font-size: 2em;
    color: #20315B;

    font-family: Montserrat Titulo;
}
thead th{
    border: 2px solid gray;
    text-align: center;
    font-family: Montserrat Titulo;
    background-color: #20315B;
    color: white;
}
tbody td{
    border: 1px solid gray;
    padding: 0.3em;
    font-family: Montserrat Regular;
}
table{
    width: 100%;
    text-align: left;

}
