@font-face {
    font-family: 'Poppins Regular';
    src: url('../font/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins Titulo';
    src: url('../font/Poppins/Poppins-Bold.ttf');
}


a:link, a:visited, a:active {
    color: black;
    list-style: none;
    text-decoration:none;
}
.categorias-izquierda a:hover{
    color: black;
    list-style: none;
    text-decoration:none;
}

header{
    background-color: rgba(239, 241, 243, 0.89);

        position: fixed;
        top: 0;
        width:100%;
       }

body{
    background-color: rgba(239, 241, 243, 0.89);

}
.body{
    background-color: rgba(239, 241, 243, 0.89);

}
*{
    margin:0;
    padding: 0;
    background-color: rgba(239, 241, 243, 0.89);
}
 .banner img{
    margin-top: 2%;
    margin-left: 10%;
   

} 


.texto-banner{
    width: 100%;
    height: 70px;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    align-content: space-around;
    background-color: #252850;
    font-family: 'Poppins Regular';
    font-size: 25px;
    color: white;
    margin-top: 3%;
    flex-direction: row;
    flex-wrap: nowrap;


}
  .texto-banner p{
    background-color: #252850;

    
    
}  
.banner-total{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;

}
.menu{
    display: flex;
    justify-content: start;
    flex-direction: row ;
    align-items: center;
    height: auto;
    border-bottom: 0.5px solid#252850;
    width: 100%;

}
.contenedor{
    display: flex;
    flex-flow: row wrap;
    padding: 6px 6px 6px 6px;
    margin-left: 2em;
    margin-top: 5em;
    

}
.usuario{
    padding: 3px 3px 3px 3px;
    margin-left: 1em;
}
.usuario-usuario p{
    font-size: 18px;
   
}
.usuario-modelo p{
    color: #252850;
    font-size: 20px;
    font-family: 'Poppins Titulo';
    font-weight: bold;
}
.usuario-usuario a{
   text-decoration: none;
   color:black;
   
}
.nombre-usuario{
    font-family: Poppins Titulo;
    font-size: 20px;
}
.usuario-usuario:hover p{
    color:white;   
    background-color: #59351f; 
 }

.usuario-ciudad-pais{
    color: rgb(112, 110, 110);
}
.usuario p{
    font-family: 'Poppins Regular';
}
.titulo-modelo{
    color:#252850;
    font-family: 'Poppins Titulo';
}
.entrada{
    font-family: 'Poppins Regular';
    margin: 2% 0 2% 0;
    padding: 1%;
    font-size: 1em;
    border: 1px solid black;
    width:25em;
    height: 20%;
}
.buscar {
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 9px;
    font-size: 1em;
    background-color: #252850;
    border: 0;
    color: #fff;
    cursor: pointer;
    
}


.iniciar-sesion{
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 1px;
    font-size: 1em;
    background-color: #252850;
    border: 0;
    color: #fff;
    cursor: pointer;
    width: 100%;

}
.iniciar-sesion:hover{
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 1px;
    font-size: 1em;
    background-color: #59351f;
    border: 0;
    color: #fff;
    cursor: pointer;

}

.anuncio{
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 5px;
    font-size: 1em;
    background-color: #e9a220;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
    width: 100%;



}
.anuncio:hover{ 
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 5px;
    font-size: 1em;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
    width: 100%;
    background-color: #252850;

}
.menus-derecha{
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;

}
.menus-derecha div{
    flex-flow: row wrap;
    margin-left: 3%;
    justify-content: space-between;
}

.menu-categorias{
width: 100%;
margin-top: 1em;

}
.menu-categorias p{
    cursor: pointer;
}
/* MENU CATEGORIAS */

.categorias-izquierda{
 width: 100%;
    display: flex;
flex-flow: row wrap;
justify-content: space-around;
align-items: center;
    font-family: 'Poppins Regular';
}
.categorias-izquierda a{
 text-decoration: none;
   }
.categorias-derecha{
    width: 30%;
    display: flex;
flex-flow: row wrap;
justify-content: center;
 
}
@media screen and (max-width: 920px) {

.entrada{
    font-family: 'Poppins Regular';
    margin: 2% 0 2% 0;
    padding: 1%;
    font-size: 1em;
    border: 1px solid black;
    width:12em;
    height: 10%;
}
  }
.modelo-titulo{
    color: #e9a220;
    font-size: 20px;
}

.productos{
    margin-left: 50px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 4%;

}
.productos-grid{
    margin-left: 3%;
    margin-top: 3%;
    padding: 1%;
}
.producto-precio{
    margin-left: 50px;
    font-size: 20px;
    margin-top: 5%;
    font-family: Poppins Titulo;
}
.producto_nombre{
    margin-left: 30px;
    font-size: 16px;
    margin-top: 5%;
    font-family: Poppins Regular;
}
.producto-informacion{
    margin-left: 50px;
    font-size: 16px;
    margin-top: 5%;
    font-family: Poppins Regular;
    color: gray;
}
.producto-image{
    cursor: pointer;
}
.productId{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.productId-informacion{
    font-family: Poppins Regular;
    max-width: 20%;
    width: 60%;
    padding: 2%;
    text-transform: uppercase;
   
}
.productId-informacion p{
    cursor: auto;
}
.productId-informacion span{
    color: gray;
}
.productId-nombre {
    font-size: 19px;
    font-family: Poppins Titulo;
}
.productId-imagenes img{
    width: 500px;
    height: 600px;
}
.productId-botones{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-top: 10%;

}
.productId-botones button{
    padding: 10px;
    margin-top: 1%;
    cursor: pointer;
}
.contactar{
    background-color: rgb(42, 240, 16);
    font-size: 17px;
    font-family: Poppins Regular;
}
.favoritos{
    background-color: #252850;
    color: #fff;
    font-size: 17px;
    font-family: Poppins Regular;

}
.precio-productId{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.color-productId{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.talla-productId{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.marca-productId{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.estado-productId{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.ul-image{
    display: flex;
    flex-flow: wrap row;
    margin-top: 10%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.ul-image img{
    width: 40px;
}
.borrar-filtros{
    color: red;
}

                    




    * {
        margin:0px;
        padding:0px;
    }
    
  
    
    ul, ol {
        list-style:none;
    }
    
    .nav > li {
        float:left;
    }

    .listado-productos{
        display: flex;
        flex-flow: row wrap;
        margin-left: 6%;
    }
    .nav li a {
        color:black;
        text-decoration:none;
        display:block;
    }
    
    .nav li :hover {
        cursor: pointer;
        background-color: #e9a220;
    }
    
    .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }
    
    .nav li:hover > ul {
        display:block;
        cursor: pointer;
        background-color: #e9a220;
        
    }
    
    .nav li ul li {
        position:relative;
    }
    
    .nav li ul li ul {
        right:-140px;
        top:0px;
    }
    .producto-datos{
        color: gray;
        margin-left: 30px;
    }
.foo p{
    background-color: #252850;
    color: white;
}
    .foo div{
        background-color: #252850;
        color: white;
    }
    .foo img{
        background-color: #252850;
    }

    .redes-sociales-imagenes img{
        width: 3%;
        margin-bottom: 5%;
    }

.listado-usuarios{
    display: flex;
    flex-flow: row wrap;
    justify-self: auto;
    justify-items: auto;
    
}
footer *{
    background-color: #e9a220;
    width: 100%;
    font-family: 'Poppins Regular';
    padding-top: 1%;
    padding-left: 1%;

}
footer p{
    color: white;
}
footer a{
    color: white;
}
footer li{
    color: white;
}
footer h3{
    color: white;
}
footer a:link{
    color: #252850;
}
footer input{
    width: 60%;
    padding: 1%;
}
footer button{
    width: 15%;
    padding: 1%;
    background-color: #252850;
    color: white;
}
  @media screen and (max-width: 697px) {

    .entrada{
        font-family: 'Poppins Regular';
        margin: 2% 0 2% 0;
        padding: 1%;
        font-size: 1em;
        border: 1px solid black;
        width:12em;
        height: 10%;
    }
    .iniciar-sesion{
        visibility: hidden;
    
    }
    .menu{
        position: initial;
        justify-content: start;
        flex-direction: row ;
        align-items: center;
        height: auto;
        border-bottom: 0.5px solid black;
    
    }

}