@font-face {
    font-family: 'Poppins Regular';
    src: url('../font/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins Titulo';
    src: url('../font/Poppins/Poppins-Bold.ttf');
}


*{
    margin:0;
    padding: 0;
    background-color: rgba(239, 241, 243, 0.89);
}

.menu{
    display: flex;
    justify-content: start;
    flex-direction: row ;
    align-items: center;
    height: auto;
    border-bottom: 0.5px solid#252850;
    width: 100%;

}
.contenedor{
    display: flex;
    flex-flow: row wrap;
    padding: 6px 6px 6px 6px;
    margin-left: 2em;
    margin-top: 5em;
    

}
.usuario{
    padding: 6px 6px 6px 6px;
    margin-left: 2em;
}
.usuario-usuario p{
    font-size: 18px;
   
}
.usuario-usuario a{
   text-decoration: none;
   color:black;
   
}
.usuario-usuario:hover p{
    color:white;   
    background-color: #59351f; 
 }

.usuario-ciudad-pais{
    color: rgb(112, 110, 110);
}
.usuario p{
    font-family: 'Poppins Regular';
}
.titulo-modelo{
    color:#252850;
    font-family: 'Poppins Titulo';
}
.entrada{
    font-family: 'Poppins Regular';
    margin: 2% 0 2% 0;
    padding: 1%;
    font-size: 1em;
    border: 1px solid black;
    width:25em;
    height: 20%;
}
.buscar {
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 9px;
    font-size: 1em;
    background-color: #252850;
    border: 0;
    color: #fff;
    cursor: pointer;
    
}


.iniciar-sesion{
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 1px;
    font-size: 1em;
    background-color: #252850;
    border: 0;
    color: #fff;
    cursor: pointer;
    width: 100%;

}
.iniciar-sesion:hover{
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 1px;
    font-size: 1em;
    background-color: #59351f;
    border: 0;
    color: #fff;
    cursor: pointer;

}

.anuncio{
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 5px;
    font-size: 1em;
    background-color: #e9a220;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
    width: 100%;



}
.anuncio:hover{ 
    font-family: 'Poppins Regular';
    margin: 8px 0 8px 0;
    padding: 5px;
    font-size: 1em;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
    width: 100%;
    background-color: #252850;

}
.menus-derecha{
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;

}
.menus-derecha div{
    flex-flow: row wrap;
    margin-left: 3%;
    justify-content: space-between;
}

.menu-categorias{
width: 100%;
margin-top: 1em;

}
.menu-categorias p{
    cursor: pointer;
}
/* MENU CATEGORIAS */

.categorias-izquierda{
 width: 100%;
    display: flex;
flex-flow: row wrap;
justify-content: space-around;
align-items: center;
    font-family: 'Poppins Regular';
}
.categorias-izquierda a{
 text-decoration: none;
   }
.categorias-derecha{
    width: 30%;
    display: flex;
flex-flow: row wrap;
justify-content: center;
 
}
@media screen and (max-width: 920px) {

.entrada{
    font-family: 'Poppins Regular';
    margin: 2% 0 2% 0;
    padding: 1%;
    font-size: 1em;
    border: 1px solid black;
    width:12em;
    height: 10%;
}
  }
.modelo-titulo{
    color: #e9a220;
    font-size: 20px;
}

.listado-productos{
    display: flex;
    flex-flow: row wrap;
    margin-left: 1%;
    
}
.producto{
    padding: 7%;
}
  @media screen and (max-width: 697px) {

    .entrada{
        font-family: 'Poppins Regular';
        margin: 2% 0 2% 0;
        padding: 1%;
        font-size: 1em;
        border: 1px solid black;
        width:12em;
        height: 10%;
    }
    .iniciar-sesion{
        visibility: hidden;
    
    }
    .menu{
        position: initial;
        justify-content: start;
        flex-direction: row ;
        align-items: center;
        height: auto;
        border-bottom: 0.5px solid black;
    
    }

      }