@font-face {
    font-family: 'Poppins Regular';
    src: url('../font/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins Titulo';
    src: url('../font/Poppins/Poppins-Bold.ttf');
}
body{
    font-family: Poppins Titulo;
}
.registrarse{
    width: 40%;
   
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    padding: 20px;
}
.menu-contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh; 
    background: -webkit-linear-gradient(140deg, rgb(221, 217, 5), #e9a220);
    background: -moz-linear-gradient(140deg, rgb(221, 217, 5), #e9a220);
    background: -o-linear-gradient(140deg, rgb(221, 217, 5), #e9a220);
    background: linear-gradient(140deg, rgb(221, 217, 5), #e9a220);
    
}
.regis{
    width: 40%;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 10px;
}


.regis input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    font-size: 25px;
  }
select{
    width: 90%;
}
  .regis label{
      color: black;
      font-family: Poppins Titulo;
  }

 .regis button{
      text-decoration:none;
font-weight: 600;
font-size: 21px;
color:black;
padding-top:9px;
padding-bottom:9px;
padding-left:20px;
padding-right:20px;
background-color: #4BB543;
border-color: black;
border-width: 1px;
border-style: solid;
 
  }
.inicio{
    width: 40%;
   
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 10px;
}
.inicio input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    font-size: 25px;
  }

  .inicio label{
      color: black;
      font-family: Poppins Titulo;
  }

 .inicio button{
      text-decoration:none;
font-weight: 600;
font-size: 21px;
color:black;
padding-top:9px;
padding-bottom:9px;
padding-left:20px;
padding-right:20px;
background-color: #4BB543;
border-color: black;
border-width: 1px;
border-style: solid;
 
  }


  * {
    padding: 0;
    margin: 0;
    
  }

  input {
    outline: none;
  }
  html,
  body {
    height: 100%;
  }
