@font-face {
    font-family: 'Montserrat Regular';
    src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat Titulo';
    src: url('../font/Montserrat-Bold.ttf');
}
*{
    margin:0;
    padding: 0;
}
.contenedor{
    display: flex;
    flex-flow: row wrap;
    padding: 6px 6px 6px 6px;
    margin-left: 2em;
    margin-top: 8em;
}
.usuario{
    padding: 6px 6px 6px 6px;
    margin-left: 2em;
}

.usuario p{
    font-family: 'Montserrat Regular';
}
.titulo-modelo{
    color:#252850;
    font-family: 'Montserrat Titulo';
}
.entrada{
    font-family: 'Montserrat Regular';
    margin: 2% 0 2% 0;
    padding: 1%;
    font-size: 1em;
    border: 1px solid black;
    width:25em;
    height: 20%;
}
.buscar {
    font-family: 'Montserrat Regular';
    margin: 8px 0 8px 0;
    padding: 9px;
    font-size: 1em;
    background-color: #252850;
    border: 0;
    color: #fff;
    cursor: pointer;
    
}

.menu{
    display: flex;
    justify-content: start;
    flex-direction: row ;
    align-items: center;
    height: auto;
}
.iniciar-sesion{
    font-family: 'Montserrat Regular';
    margin: 8px 0 8px 0;
    padding: 9px;
    font-size: 1em;
    background-color: white;
    border: 1px solid #252850;
    color: black;
    cursor: pointer;
    margin-left: 15%;
    width: 100%;

}
.iniciar-sesion:hover{
    font-family: 'Montserrat Regular';
    margin: 8px 0 8px 0;
    padding: 9px;
    font-size: 1em;
    background-color: #252850;
    border: 1px solid #252850;
    color: white;
    cursor: pointer;
    margin-left: 15%;
    width: 100%;

}
@media screen and (max-width: 910px) {
*{
    background-color: black;
}
  }