<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ​>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/about-us.css}" rel="stylesheet" />

    <title>CE'MA Clothes | Vende tu ropa </title>
</head>
<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>

</header>
<div style="font-family: 'Montserrat', sans-serif;">
    <span th:text="#{cambiar}"></span>
    <select id="locales" onchange="cambiar()">
        <option value=""></option>
        <option value="en" th:text="#{lang.en}"></option>
        <option value="es" th:text="#{lang.es}"></option>
    </select>
</div>
<div class="menu">
    <div class="logo">
        <a th:href="@{/}">
            <img height="80" width="200" class="logo-image" th:src="@{'../images/CEMA-logo-definitivo.svg'}" />
        </a>
    </div>
    <div class="cuadros-texto">
        <form action="" method="GET" target="_blank">
            <input type="search" id="valor-entrada" class="entrada" autofocus required>

            <input id="entrada" class="buscar" type="submit" th:value="#{Buscar}">
        </form>
    </div>
    <div class="menus-derecha">

        <div class="inicio">
            <a th:href="@{/inicio-sesion}">
                <button class="iniciar-sesion" type="submit" th:text="#{Iniciar}"></button>
            </a>
        </div>

    </div>
    <div class="anuncio-clase">
        <button class="anuncio" type="submit" value="Modelos" th:text="#{Anuncio}"></button>

    </div>

</div>


<div class="menu-categorias">
    <div class="categorias-izquierda">
        <p th:href="#{Mujeres}"><a th:href="@{/WOMENS}">MUJER</a></p>
        <p th:href="#{Hombres}"><a th:href="@{/BOYS}">HOMBRES</a></p>
        <p th:href="#{Accesorios}"><a th:href="@{/ACCESORIOS}">ACCESORIOS</a></p>
        <p th:href="#{CE'MA Clothes}"><a th:href="@{/aboutus}">CE'MA CLOTHES</a></p>
        <a th:href="@{/usuarios/}">
            <p class="modelo-titulo" th:text="#{Modelos}"></p>
        </a>
        <div class="categorias-derecha">
            <ul class="nav">
                <li><a href="">Ordenar por:</a>
                    <ul>
                        <a th:href="@{/ASC}">

                            <li th:text="#{Precio_Asc}"></li>
                        </a>
                        <li th:text="#{Talla}">

                            <li><span th:text="#{Precio_Asc}"></span></li>
                        </a>
                        <a th:href="@{/DESC}">
                            <li><span th:text="#{Precio_Desc}"></span></li>
                        </a>
                        <li><span th:text="#{Talla}"></span>

                            <ul>
                                <a th:href="@{/?talla=XS}">
                                    <li>XS</li>
                                </a>
                                <a th:href="@{/?talla=S}">
                                    <li>S</li>
                                </a>
                                <a th:href="@{/?talla=M}">
                                    <li>M</li>
                                </a>
                                <a th:href="@{/?talla=L}">
                                    <li>L</li>
                                </a>
                                <a th:href="@{/?talla=XL}">
                                    <li>XL</li>
                                </a>

                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>



        </div>

        <div class="perfil">
            <a th:href="@{/}">
                <p class="borrar-filtros" th:text="#{Borrar_filtros}"></p>
            </a>
        </div>
        <div class="perfil">
            <p th:text="#{Perfil}"></p>
        </div>
    </div>

</div>
</header>


<br>


<body class="body">
<br>

    <section class="contact">
        <div class="content">
            <h1 th:text="#{Sobre}"></h1>
            <br>
            <p th:text="#{texto}">
            </p>
            <br>
        </div>
        <a th:href="@{/}">
                <img height="580" width="520" class="logo-image" th:src="@{'../images/Imagen2.jpeg'}" />
            </a>
        <div class="content-us">
           <br>
        <br>
        <br> 
        <br>
       
            <h1 th:text="#{contacta}"></h1>
            
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon">
                        <img height="60" width="70"  th:src="@{'../images/navegacion.png'}" />
                   </div>
                    <div class="text">
                        <h3 th:text="#{direccion}"></h3>
                        <p>Cesar gusano 50018, <br>Zaragoza,España<br>55600</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        
                        <img height="60" width="70"  th:src="@{'../images/llamada-telefonica.png'}" />
                  </div>
                    <div class="text">
                        <h3 th:text="#{telefono}"></h3>
                        <p>976 87 67 54</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <img height="60" width="70"  th:src="@{'../images/email.png'}" />
                   </div>
                    <div class="text">
                        <h3 th:text="#{email}"></h3>
                        <p>cemaclothes@gmail.com</p>
                    </div>
                </div>
            </div>
             <div class="contactForm">
                 <form method="POST" th:action="@{/sendMail}" id="emailForm">
                     <h2 th:text="#{escribir_mensaje}"> </h2>
                     <div class="inputBox">
                         <input type="text"  name="name" required="required">
                         <span th:text="#{nombre_apellidos}"></span>
                     </div>
                     <div class="inputBox">
                        <input type="text"  name="mail"required="required">
                        <span th:text="#{email}"></span>
                    </div>
                    <div class="inputBox">
                        <input required="required" name="subject"></input>
                        <span th:text="#{asunto}"></span>
                    </div>
                    <div class="inputBox">
                        <input required="required" name="body"></input>
                        <span th:text="#{mensaje}"></span>
                    </div>
                    <div class="inputBox">
                       <input type="submit"   th:value="#{enviar}">
                    </div>
                 </form>
             </div>
        </div>
<br>
<br>

        <h1 th:text="#{donde}"></h1>
        <br>
        <div class="map">
          
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2980.3504993442853!2d-0.8810116852998409!3d41.669773186405656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd59149ade1f9a9f%3A0x66cc84d326d51c26!2sCentro%20San%20Valero!5e0!3m2!1ses!2ses!4v1621409135259!5m2!1ses!2ses" width="850" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section> 
</body>


</html>




































































