<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ​>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" rel="stylesheet" />

    <title>CE'MA Clothes | Vende tu ropa </title>
</head>
<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>

</header>
<div style="font-family: 'Montserrat', sans-serif;">
    <span th:text="#{cambiar}"></span>
    <select id="locales" onchange="cambiar()">
        <option value=""></option>
        <option value="en" th:text="#{lang.en}"></option>
        <option value="es" th:text="#{lang.es}"></option>
    </select>
</div>
<div class="menu">
    <div class="logo">
        <a th:href="@{/}">
            <img height="80" width="200" class="logo-image" th:src="@{'../images/CEMA-logo-definitivo.svg'}" />
        </a>
    </div>
    <div class="cuadros-texto">
        <form action="" method="GET" target="_blank">
            <input type="search" id="valor-entrada" class="entrada" autofocus required>

            <input id="entrada" class="buscar" type="submit" th:value="#{Buscar}">
        </form>
    </div>
    <div class="menus-derecha">

        <div class="inicio">
            <a th:href="@{/inicio-sesion}">
                <button class="iniciar-sesion" type="submit" th:text="#{Iniciar}"></button>
            </a>
        </div>

    </div>
    <div class="anuncio-clase">
        <button class="anuncio" type="submit" value="Modelos" th:text="#{Anuncio}"></button>

    </div>
    

</div>


<div class="menu-categorias">
    <div class="categorias-izquierda">
        <p th:href="#{Mujeres}"><a th:href="@{/WOMENS}">MUJER</a></p>
        <p th:href="#{Hombres}"><a th:href="@{/BOYS}">HOMBRES</a></p>
        <p th:href="#{Accesorios}"><a th:href="@{/ACCESORIOS}">ACCESORIOS</a></p>
        <p th:href="#{CE'MA Clothes}"><a th:href="@{/aboutus}">CE'MA CLOTHES</a></p>


        <a th:href="@{/usuarios/}">
            <p class="modelo-titulo" th:text="#{Modelos}"></p>
        </a>
        <div class="categorias-derecha">
            <ul class="nav">
                <li><a href="">Ordenar por:</a>
                    <ul>
                        <a th:href="@{/ASC}">

                            <li th:text="#{Precio_Asc}"></li>
                        </a>

                        <a th:href="@{/DESC}">
                            <li><span th:text="#{Precio_Desc}"></span></li>
                        </a>
                        <li><span th:text="#{Talla}"></span>

                            <ul>
                                <a th:href="@{/?talla=XS}">
                                    <li>XS</li>
                                </a>
                                <a th:href="@{/?talla=S}">
                                    <li>S</li>
                                </a>
                                <a th:href="@{/?talla=M}">
                                    <li>M</li>
                                </a>
                                <a th:href="@{/?talla=L}">
                                    <li>L</li>
                                </a>
                                <a th:href="@{/?talla=XL}">
                                    <li>XL</li>
                                </a>

                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>



        </div>

        <div class="perfil">
            <a th:href="@{/}">
                <p class="borrar-filtros" th:text="#{Borrar_filtros}"></p>
            </a>
        </div>
        <div class="perfil">
            <p th:text="#{Perfil}"></p>
        </div>
    </div>

</div>
</header>

<body class="body">



    <div class="banner">





        <a th:href="@{/usuarios}">
            <img height="340" width="680" th:src="@{/images/banner3.jpg}">
        </a>


        <div class="texto-banner">
            <p th:text="#{Nuestros_Productos}"></p>

        </div>
        <div class="listado-productos">
            <div th:each="pro : ${productos}" th:object="${pro}">
                <div class="producto">
                    <div>
                        <a th:href="@{/productos/} + *{id}">
                            <img width="290" height="330" th:src="*{imagenes}">
                        </a>
                    </div>
                    <div class="producto-precio">
                        <p th:text="*{precio } + €" style="text-align: left;"></p>
                    </div>
                    <div class="producto_nombre">
                        <p th:text="*{nombre_producto}"></p>
                    </div>

                    <div class="producto-datos">
                        <p th:text="*{marca} + ' • ' + *{talla} + ' • ' + *{color} " style="text-align: left;"></p>
                    </div>

                </div>
            </div>
        </div>

            <div class="footer-dark">
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 item">
                                <h3>Services</h3>
                                <ul>
                                    <p><a href="#">Politica de Privacidad</a></p>
                                    <p><a href="#">Politica de Cookies</a></p>
                                    <p><a href="#">Configuracion de Cookies</a></p>
                                    <p><a href="#">Terminos y Condiciones</a></p>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-3 item ejemplo">
                                <h3>Redes Sociales</h3>
                                <ul class="ul-image">
                                        <img th:src="@{/images/logos/001-facebook.png}">
                                        <img th:src="@{/images/logos/001-facebook.png}">
                                        <img th:src="@{/images/logos/001-facebook.png}">
                                        <img th:src="@{/images/logos/001-facebook.png}">
                                </ul>
                            </div>
                            <div class="col-md-6 item text">
                                <h3>Newsletter</h3>
                                <form action="">
                                    <label for="">Email</label>
                                    <input type="text" name="" id="">
                                    <button type="submit">Enviar</button>
                                </form>
                            </div>
                            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                        </div>
                        <p class="copyright">CEMA Clothes 2021 © Todos los derechos reservados</p>
                    </div>
                </footer>
            </div>
</body>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</html>