<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/index.css}" rel="stylesheet" />
<link th:href="@{/css/productosid.css}" rel="stylesheet" />

<title>Detalle del Producto</title>
</head>

<body>

    <div class="menu">
        <div class="logo">
            <a th:href="@{/}">
                <img height="80" width="200" class="logo-image" th:src="@{'../images/CEMA-logo-definitivo.svg'}" />
            </a>
        </div>
        <div class="cuadros-texto">
            <form action="" method="GET" target="_blank">
                <input type="search" id="valor-entrada" class="entrada" placeholder="Haga su busqueda..." autofocus
                    required>

                <input id="entrada" class="buscar" type="submit" value="Buscar">
            </form>
        </div>
        <div class="menus-derecha">

            <div class="inicio">
                <a th:href="@{/inicio-sesion}">
                    <button class="iniciar-sesion" type="submit" value="Iniciar Sesión | Registrarse">Iniciar Sesión |
                        Registrarse</button>
                </a>
            </div>

        </div>
        <div class="anuncio-clase">
            <button class="anuncio" type="submit" value="Modelos">+ Sube tu Anuncio</button>

        </div>
    </div>

    <div class="menu-categorias">
        <div class="categorias-izquierda">
            <p th:href="#{Mujeres}"><a th:href="@{/WOMENS}">MUJER</a></p>
            <p th:href="#{Hombres}"><a th:href="@{/BOYS}">HOMBRES</a></p>
            <p th:href="#{Accesorios}"><a th:href="@{/ACCESORIOS}">ACCESORIOS</a></p>
            <p th:href="#{CE'MA Clothes}"><a th:href="@{/aboutus}">CE'MA CLOTHES</a></p>
            <a th:href="@{/usuarios/}">
                <p class="modelo-titulo">MODELOS</p>
            </a>
            <div class="categorias-derecha">



            </div>
            <div class="perfil">
                <p>Perfil</p>
            </div>
        </div>
        <br>
        <br>

        <div th:each="pro : ${productos}" th:object="${pro}" class="productId">
            <div class="productId-imagenes">

                <img th:src="*{imagenes}" alt="">
            </div>
            <div class="productId-informacion">
                <p th:text="*{nombre_producto}" class="productId-nombre"></p>
                <div class="precio-productId">
                    <span>precio </span>
                    <p th:text="*{precio} + €"></span>
                </div>
                <div class="color-productId">
                    <span>color </span>
                    <p th:text="*{color}"></p>
                </div>
                <div class="talla-productId">
                    <span>talla </span>
                    <p th:text="*{talla}"></p>
                </div>
                <div class="marca-productId">
                    <span>marca </span>
                    <p th:text="*{marca}"></p>
                </div>
                <div class="estado-productId">
                    <span>estado </span>
                    <p th:text="*{estado}"></p>
                </div>
                <div class="productId-botones">
                    <button class="contactar">Contactar con el Vendedor</button>
                    <button class="favoritos">Añadir a favoritos</button>
                </div>
            </div>





        </div>








    </div>
</body>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</html>