<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/inicio-sesion.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Registrarse</title>
</head>

<body>

    <div class="menu-contenedor">


        <form th:action="@{/crear-usuario}" th:object="${usuarios}" method="POST" class="regis"
            enctype="multipart/form-data">
            <label>Email *</label>
            <input type="email" th:field="*{email}" required>

            <label>Contraseña *</label>
            <input type="password" th:field="*{contrasena}" required minlength="8" maxlength="20">

            <label>Usuario *</label>
            <input type="text" th:field="*{usuario}" required>

            <label>Nombre</label>
            <input type="text" th:field="*{nombre}">

            <label>Apellido</label>
            <input type="text" th:field="*{apellido}">

            <label>Pais</label>
            <select name="select" required th:field="*{pais}">
                <option value="España" selected>España</option>
                <option value="Francia">Francia</option>
                <option value="Italia">Italia</option>
                <option value="EEUU">EEUU</option>
                <option value="Marruecos">Marruecos</option>
                <option value="Alemania">Alemania</option>
            </select>

            <label>Ciudad</label>
            <input type="text" th:field="*{ciudad}">

            <label>Telefono</label>
            <input type="number" th:field="*{telefono}">


            <label>Sexo</label>
            <select name="select" required th:field="*{sexo}">
                <option value="Hombre" selected>Hombre</option>
                <option value="Mujer">Mujer</option>
            </select>
            <label>Modelo</label>
            <select name="select" required th:field="*{modelo}">
                <option value="true" selected>Si</option>
                <option value="false">No</option>
            </select>


            <label>Imagen Perfil</label>
            <input type="text" th:field="*{imagen}">
            <p>Estoy de acuerdo con <a href="/terminos-servicios">Terminos y condiciones</a></p>
            <button type="submit">Registrarse</button>

            <a th:href="@{/inicio-sesion}">
                <p>Iniciar Sesion</p>
            </a>
            <a th:href="@{/}">
                <p>INICIO</p>
            </a>
        </form>


    </div>
</body>
<script>

</script>

</html>