<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/sube.css}" rel="stylesheet" />

    <title>Sube Tu Producto</title>
</head>

<body>
    <div class="menu-contenedor">




        <form  method="POST" th:action="@{/crear-producto}" th:object="${productos}" class="inicio">
            <label for="">Nombre de Producto</label>
            <input type="text">

            <label for="">Talla</label>
            <select name="select" required th:field="*{talla}">
                <option value="XS" selected>XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="2XL">2XL</option>
            </select>

            <label for="">Estado</label>
            <select name="select" required th:field="*{estado}">
                <option value="Nuevo" selected>Nuevo</option>
                <option value="Seminuevo">Seminuevo</option>
                <option value="Usado">Usado</option>
                <option value="Muy Usado">Muy Usado</option>
            </select>

            <label for="">Color</label>
            <input type="text" th:field="*{color}">

            <label for="">Precio</label>
            <input type="number" th:field="*{precio}">

            <label for="">Marca</label>
            <input type="text" th:field="*{marca}">

            <label for="">Sexo</label>
            <select name="select" required th:field="*{sexo}">
                <option value="Hombre" selected>Hombre</option>
                <option value="Mujer">Mujer</option>
            </select>

            <label for="">Imagen</label>
            <input type="text" th:field="*{imagenes}">


            <button type="submit">Subir Producto</button>
          <!--   <a th:href="@{/registro}">
                <p>Registrarse</p>
            </a> -->
            <a th:href="@{/}">
                <p style="color: white;">INICIO</p>
            </a>
        </form>
    </div>
</body>

</html>