<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ​>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" rel="stylesheet" />

    <title>CE'MA Clothes | Vende tu ropa </title>
</head>
<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>

</header>
<div style="font-family: 'Montserrat', sans-serif;">
    <span th:text="#{cambiar}"></span>
    <select id="locales" onchange="cambiar()">
        <option value=""></option>
        <option value="en" th:text="#{lang.en}"></option>
        <option value="es" th:text="#{lang.es}"></option>
    </select>
</div>
<div class="menu">
    <div class="logo">
        <a th:href="@{/}">
            <img height="80" width="200" class="logo-image" th:src="@{'../images/CEMA-logo-definitivo.svg'}" />
        </a>
    </div>
    <div class="cuadros-texto">
        <form action="" method="GET" target="_blank">
            <input type="search" id="valor-entrada" class="entrada" autofocus required>

            <input id="entrada" class="buscar" type="submit" th:value="#{Buscar}">
        </form>
    </div>
    <div class="menus-derecha">

        <div class="inicio">
            <a th:href="@{/inicio-sesion}">
                <button class="iniciar-sesion" type="submit" th:text="#{Iniciar}"></button>
            </a>
        </div>

    </div>
    <div class="anuncio-clase">
        <a th:href="@{/subetuproducto}">
            <button class="anuncio" type="submit" value="Modelos" th:text="#{Anuncio}"></button>
        </a>
    </div>


</div>


<div class="menu-categorias">
    <div class="categorias-izquierda">
        <p th:href="#{Mujeres}"><a th:href="@{/WOMENS}">MUJER</a></p>
        <p th:href="#{Hombres}"><a th:href="@{/BOYS}">HOMBRES</a></p>
        <p th:href="#{Accesorios}"><a th:href="@{/ACCESORIOS}">ACCESORIOS</a></p>
        <p th:href="#{CE'MA Clothes}"><a th:href="@{/aboutus}">CE'MA CLOTHES</a></p>


        <a th:href="@{/usuarios/}">
            <p class="modelo-titulo" th:text="#{Modelos}"></p>
        </a>
        <div class="categorias-derecha">
            <ul class="nav">
                <li><a href="">Ordenar por:</a>
                    <ul>
                        <a th:href="@{/ASC}">

                            <li th:text="#{Precio_Asc}"></li>
                        </a>

                        <a th:href="@{/DESC}">
                            <li><span th:text="#{Precio_Desc}"></span></li>
                        </a>
                        <li><span th:text="#{Talla}"></span>

                            <ul>
                                <a th:href="@{/?talla=XS}">
                                    <li>XS</li>
                                </a>
                                <a th:href="@{/?talla=S}">
                                    <li>S</li>
                                </a>
                                <a th:href="@{/?talla=M}">
                                    <li>M</li>
                                </a>
                                <a th:href="@{/?talla=L}">
                                    <li>L</li>
                                </a>
                                <a th:href="@{/?talla=XL}">
                                    <li>XL</li>
                                </a>

                            </ul>
                        </li>

                        <li><span>Estado: </span>

                            <ul>
                                <a th:href="@{/?estado=Nuevo}">
                                    <li>Nuevo</li>
                                </a>
                                <a th:href="@{/?estado=Seminuevo}">
                                    <li>Seminuevo</li>
                                </a>
                                <a th:href="@{/?estado=Usado}">
                                    <li>Usado</li>
                                </a>
                                <a th:href="@{/?estado=Muy Usado}">
                                    <li>Muy Usado</li>
                                </a>


                            </ul>
                        </li>

                        <li><span>Color: </span>

                            <ul>
                                <a th:href="@{/?color=Azul Marino}">
                                    <li>Azul Marino</li>
                                </a>
                                <a th:href="@{/?color=Negro}">
                                    <li>Negro</li>
                                </a>
                                <a th:href="@{/?color=Plata}">
                                    <li>Plata</li>
                                </a>
                                <a th:href="@{/?color=Blanco}">
                                    <li>Blanco</li>
                                </a>
                                <a th:href="@{/?color=Rojo}">
                                    <li>Rojo</li>
                                </a>
                                <a th:href="@{/?color=Marron}">
                                    <li>Marron</li>
                                </a>
                                <a th:href="@{/?color=Naranja}">
                                    <li>Naranja</li>
                                </a>
                                <a th:href="@{/?color=Rosa}">
                                    <li>Rosa</li>
                                </a>
                                <a th:href="@{/?color=Amarillo}">
                                    <li>Amarillo</li>
                                </a>
                                <a th:href="@{/?color=Caramelo}">
                                    <li>Caremelo</li>
                                </a>
                                <a th:href="@{/?color=Mostaza}">
                                    <li>Mostaza</li>
                                </a>
                                <a th:href="@{/?color=Verde}">
                                    <li>Verde</li>
                                </a>

                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>



        </div>

        <div class="perfil">
            <a th:href="@{/}">
                <p class="borrar-filtros" th:text="#{Borrar_filtros}"></p>
            </a>
        </div>
        <div class="perfil">
            <p th:text="#{Perfil}"></p>
        </div>
    </div>

</div>
</header>

<body class="body">
    <br>
    <br>


    <h1>Términos y condiciones de CE'MA CLOTHES</h1>
    <br>
    <br>
    <p>
        1. ACEPTACIÓN
        En el presente documento (en adelante, el “Contrato”) se establecen los términos y condiciones de Robert Half
        Internacional Empresa de Servicios Transitorios Limitada, con domicilio en Avenida Isidora Goyenechea 2800 Piso
        15. Torre Titanium 7550-647 Las Condes, que serán de aplicación al acceso y uso por parte del Usuario de esta
        página web (el “Sitio Web”). Les rogamos lean atentamente el presente Contrato.
        Al acceder, consultar o utilizar el Sitio Web, los Usuarios (“Vd.”, “usted”, “Usuario”, o “usuario”) aceptan
        cumplir los términos y condiciones establecidos en este Contrato. En caso de que usted no acepte quedar
        vinculado por los presentes términos y condiciones, no podrá acceder a, ni utilizar, el Sitio Web.
        Robert Half Internacional Empresa de Servicios Transitorios Limitada y sus respectivas empresas afiliadas (en
        conjunto, “RH”) se reservan el derecho de actualizar el presente Contrato siempre que lo consideren oportuno. En
        consecuencia, recomendamos al Usuario revisar periódicamente las modificaciones efectuadas al Contrato.
        El presente Sitio Web está dirigido exclusivamente a personas residentes en Chile. Los Usuarios residentes o
        domiciliados en otro país que deseen acceder y utilizar el Sitio Web, lo harán bajo su propio riesgo y
        responsabilidad, por lo que deberán asegurarse de que dichos accesos y/o usos cumplen con la legislación
        aplicable en su país.
        <br>
        <br>
        <br>

        2. REQUISITOS RELATIVOS AL USUARIO
        El Sitio Web y los servicios relacionados con el mismo se ofrecen a los Usuarios que tengan capacidad legal para
        otorgar contratos legalmente vinculantes según la legislación aplicable.
        Los menores no están autorizados para utilizar el Sitio Web. Si usted es menor de edad, por favor, no utilice
        esta web.
        <br>
        <br>
        <br>
        3. LICENCIA
        En este acto, RH otorga al Usuario una licencia limitada, no exclusiva, intransferible, no susceptible de cesión
        y revocable; para consultar y descargar, de forma temporal, una copia del contenido ofrecido en el Sitio Web,
        únicamente para uso personal del Usuario o dentro de su empresa, y nunca con fines comerciales.
        Todo el material mostrado u ofrecido en el Sitio Web, entre otros ejemplos, el material gráfico, los documentos,
        textos, imágenes, sonido, video, audio, las ilustraciones, el software y el código HTML (en conjunto, el
        “Contenido”), es de exclusiva propiedad de RH o de las empresas que facilitan dicho material.
        El Contenido está protegido por las leyes de copyright chilenas, estadounidenses e internacionales, así como por
        las demás leyes, reglamentos y normas aplicables a los derechos de propiedad intelectual. Salvo disposición
        expresa en contrario en el presente contrato, y/o salvo que por imperativo legal ello esté expresamente
        permitido por leyes derogatorias de las actualmente vigentes, el Usuario no podrá (i) utilizar, copiar,
        modificar, mostrar, eliminar, distribuir, descargar, almacenar, reproducir, transmitir, publicar, vender,
        revender, adaptar, invertir el proceso de creación o crear productos derivados a partir de, el Contenido.
        Tampoco podrá (ii) utilizar el Contenido en otras páginas Web o en cualquier medio de comunicación como, por
        ejemplo, en un entorno de red, sin la previa autorización por escrito en este sentido de RH.
        Todas las marcas comerciales, las marcas de servicio y los logos (en adelante, las “Marcas”) mostrados en el
        Sitio Web son propiedad exclusiva de RH y de sus respectivos propietarios.
        El Usuario no podrá utilizar las Marcas en modo alguno sin la previa autorización por escrito para ello de RH y
        los respectivos propietarios.
        <br>
        <br>
        <br>
        4. INFORMACIÓN FACILITADA POR EL USUARIO
        El Sitio Web ofrece al Usuario un foro de obtención de empleo e información profesional. Al facilitar o
        introducir la información en el Sitio Web (“Información del Usuario”), el Usuario otorga a RH licencia y derecho
        permanente, no exclusivo, irrevocable, libre de royalties, durante el tiempo máximo permitido por la legislación
        aplicable, pero no le impone obligación de, utilizar, copiar, modificar, mostrar, distribuir, descargar,
        almacenar, reproducir, transmitir, publicar, vender, revender, adaptar ni crear productos derivados en todo o en
        parte a partir de, la Información del Usuario, en ningún modo o manera. El Usuario reconoce y acepta que RH es
        solamente un foro pasivo a través del cual los usuarios pueden conseguir empleo o informarse a nivel
        profesional. RH no comprueba ni controla la Información del Usuario. En consecuencia, RH no asume garantía
        alguna en cuanto a la fiabilidad, precisión, integridad, validez o veracidad de la Información remitida por los
        usuarios.
        RH se reserva el derecho de, a su libre JUICIO, eliminar, retirar, negarse a reflejar o bloquear toda
        Información del Usuario que RH considere como inaceptable. En caso de que RH reciba alguna notificación sobre la
        inaceptabilidad de determinada información facilitada por los usuarios, RH podrá, con total discrecionalidad,
        investigar dicha información.
        El Usuario asume y acepta que RH podrá conservar copia de la Información del Usuario, y revelar dicha
        información a terceros si lo considera necesario para:
        (i) proteger la integridad del Sitio Web;
        (ii) proteger los derechos de RH;
        (iii) cumplir una orden judicial;
        (iv) cumplir cualquier trámite legal;
        (v) hacer valer los derechos y acciones que asisten a RH a tenor de este Contrato; y
        (vi) satisfacer cualquier petición relativa a la infracción de derechos de terceros.
        <br>
        <br>
        <br>
        5. PROHIBICIÓN GENERAL
        Al acceder a y utilizar el Sitio Web, el Usuario se compromete a NO:
        (a) incumplir todas las leyes, reglamentos y normas aplicables a nivel local, estatal, provincial, nacional
        (Chile), así como cualquier otra legislación aplicable como las leyes contra la discriminación laboral o las
        leyes por la igualdad de oportunidades en el empleo, cuando proceda;
        (b) infringir los derechos de propiedad intelectual y de privacidad, entre otros, los derechos de patente
        (copyright), los derechos sobre la base de datos, las marcas registradas o el know how de terceros;
        (c) descargar, enviar, transmitir o almacenar material que:
        • sea ilegal, ofensivo, difamatorio, fraudulento, engañoso, que induzca a error, dañino, amenazador, hostil,
        obsceno o censurable;
        • infrinja las obligaciones contractuales o de confidencialidad del Usuario;
        • perjudique o interfiera en las aplicaciones normales del Sitio Web, como el envío o la transmisión de virus,
        gusanos o troyanos, el envío continuado de material repetido o el envío de archivos desacostumbradamente
        grandes; o
        • que no esté permitido por RH, como, por ejemplo, material publicitario no autorizado, material promocional no
        solicitado, “correo basura”, “spams”, “cartas en cadena”, mensajes de venta directa piramidal, franquicias,
        material de distribución, de asociación a un club, contratos de venta o cualquier otro material inaceptable;
        (d) vulnerar los derechos personales y de privacidad de terceros abusando del Contenido, como, por ejemplo,
        acosando o molestando continuadamente a dichas personas enviándoles correos electrónicos no solicitados, o
        recabando información de carácter personal;
        (e) contravenir, o intentar contravenir, las medidas de seguridad del Sitio Web;
        (f) utilizar cualquier aparato, procedimiento o mecanismo como, por ejemplo, spiders y robots de rastreo, para
        localizar, rescatar, buscar, o acceder al Sitio Web o al Contenido, sin el previo consentimiento por escrito de
        parte de RH;
        (g) acceder o intentar acceder a la cuenta o al login de las terceras personas o empresas indicadas en el Sitio
        Web;
        (h) copiar, modificar, reproducir, eliminar, distribuir, descargar, almacenar, transmitir, vender, revender,
        publicar, invertir el proceso de creación o crear productos derivados a partir del Contenido, excepto en lo que
        concierne al material remitido por el propio Usuario y que es de su propiedad, o si así lo autorizan las leyes
        de propiedad intelectual aplicables;
        (i) enviar o facilitar información incorrecta, falsa o incompleta, en relación con el currículum vitae, los
        datos biográficos, la fecha en que empezó a trabajar o el perfil de la empresa del Usuario;
        (j) hacerse pasar por otra persona o empresa;
        (k) utilizar el Sitio Web de forma no autorizada o para alguna actividad delictiva;
        (l) falsificar la información de cabecera en el correo electrónico; o
        (m) falsear los datos sobre sí mismo, sobre su asociación con terceros o sobre su empresa.
        <br>
        <br>
        <br>
        6. UTILIZACIÓN DEL SITIO Y OBLIGACIONES CONCRETAS
        Además de las obligaciones generales señaladas en el Artículo 5, el Usuario deberá:
        (a) utilizar el Sitio Web únicamente para los fines legalmente permitidos de buscar empleo y recabar información
        profesional;
        (b) facilitar y mantener los datos personales que conforman la Información del Usuario de forma completa,
        correcta, actualizada y veraz;
        (c) enviar solamente material sobre el que el Usuario tenga los correspondientes derechos o licencia para
        hacerlo;
        (d) utilizar su propio criterio, precaución y sentido común al gestionar las oportunidades de empleo y la
        información conseguida a través del Sitio Web; y
        (e) asumir el riesgo de confiar en el contenido, o utilizar la información, facilitados por terceros.
        <br>
        <br>
        <br>
        7. CUENTA Y CONTRASEÑA
        Cuando el Usuario utiliza el Sitio Web, puede optar por abrir una cuenta en el Sitio. En ese caso, el Usuario
        recibirá el número de cuenta virtual y la contraseña inicial que le correspondan. Es responsabilidad exclusiva
        del Usuario:
        (a) mantener la confidencialidad de dichos números de cuenta virtual y contraseña;
        (b) actualizar y comprobar frecuentemente su contraseña; y
        (c) notificar inmediatamente a RH, si tiene conocimiento del uso no autorizado de su cuenta o de cualquier
        vulneración de las medidas de seguridad.
        <br>
        <br>
        <br>
        8. EMPLEO
        El Usuario asume y acepta que RH:
        (a) no garantiza que el Usuario reciba efectivamente una oferta de empleo a través del Sitio Web;
        (b) no se responsabiliza de las ofertas de empleo, la comprobación de dichas ofertas, las decisiones sobre
        contratación que adopten y los trabajos que oferten terceras personas o empresas;
        (c) no garantiza la exactitud, integridad, validez o vigencia de la información incluida en la Web por terceras
        personas o empresas;
        (d) aunque RH revisa el material de terceros y solamente permite la inclusión del material que, a su leal saber
        y entender, no infringe la legislación aplicable, no asumirá responsabilidad alguna por el material enviado por
        terceros, como, por ejemplo, la información relativa a la creación de puestos de trabajo en una empresa o la
        incluida en las listas de empleo; y
        (e) no es ni una empresa que contrata al Usuario ni existe contrato de agencia alguno. El Usuario deberá usar su
        buen juicio, precaución y sentido común a la hora de evaluar las empresas que puedan contratarle y la
        información facilitada por terceros.
        <br>
        <br>
        <br>
        9. VÍNCULOS A PÁGINAS WEB DE TERCEROS
        El Sitio Web puede tener vínculos, como hipervínculos o enlaces, que indican el acceso a páginas Web de terceros
        (los “Sitios Relacionados”). Aunque RH revisa el material de terceros y solamente permite la inclusión de los
        Sitios Relacionados que, a su leal saber y entender, no infringen la legislación aplicable, RH no puede
        controlar ni realizar un seguimiento de los Sitios Relacionados y, en consecuencia, no asumirá responsabilidad
        alguna en cuanto a la exactitud, seguridad o fiabilidad del material, información o contenido incluido en dichos
        Sitios Relacionados.
        La inclusión de los Sitios Relacionados en el Sitio Web no implica que haya relación o asociación alguna entre
        RH y el propietario de los Sitios Relacionados, ni la aprobación o promoción por parte de RH de dichos Sitios
        Relacionados. RH incluye los Sitios Relacionados solamente para comodidad del Usuario. Este es el único
        responsable del acceso a los Sitios Relacionados.
        El Usuario deberá utilizar su propio buen criterio, precaución y sentido común a la hora desusar los Sitios
        Relacionados y, para ello, le recomendamos revisar el condicionado de uso y los términos que sobre privacidad
        rigen en dichos Sitios Relacionados. RH se reserva el derecho de eliminar de su Sitio Web todos los Sitios
        Relacionados de los que tenga conocimiento real que están infringiendo derechos de terceros y/o cuyo contenido
        vulnere la legislación aplicable, o si así se lo exige una orden judicial o una ordenanza administrativa.
        Los vínculos a nuestra página Web no están permitidos sin la expresa autorización, previa y por escrito, de RH.
        El Usuario no podrá, ni solo ni en colaboración con otras personas, ampliar, modificar, sustituir, enmendar o
        limitar, en todo o en parte, la información ofrecida en nuestra página Web ni las aplicaciones funcionales de la
        misma. Además, el Usuario no podrá, ni solo ni en colaboración con otras personas, crear o instalar vínculos
        desde su propia página Web o desde webs de terceros, a la presente página Web (ya sea mediante vínculos de
        hipertexto, deep-linking, enmarcado, mediante códigos o de otra forma), ni en todo ni en parte, sin el previo
        consentimiento por escrito en este sentido de parte de RH.
        <br>
        <br>
        <br>
        10. PRIVACIDAD
        RH procesará toda la información personal que el Usuario introduzca o facilite a través de nuestro Sitio Web de
        conformidad con la Política de
        > Privacidad del Sitio Web y los términos y condiciones relativos a la misma en este contrato.
        <br>
        <br>
        <br>
        11. COOKIES

        ¿Qué son las cookies?

        En este sitio web utilizamos cookies. Las cookies son archivos de texto que contienen pequeñas cantidades de
        información, que se descargan en su computadora o dispositivo móvil cuando usted visita una página web. A cada
        nueva visita a la misma página, los datos almacenados son recuperados por el servidor de origen. Son útiles
        porque permiten que un sitio web reconozca el equipo del usuario.

        Las cookies no pueden transmitir virus y tampoco dañan su computadora.

        ¿Qué cookies utilizamos?
        <br>
        <br>
        <br>

        Lista de cookies
        Una cookie es un fragmento pequeño de datos (archivos de texto) que un sitio web, cuando es visitado por un
        usuario, le pregunta a su navegador para almacenarse en su dispositivo y así recordar información acerca de
        usted, como por ejemplo la preferencia de idioma o su información para iniciar sesión. Estas cookies son
        establecidas por nosotros, y se llaman cookies de primeras partes. También usamos cookies de terceras partes
        (que son cookies de un dominio diferente al dominio del sitio web que está visitando) para nuestros estudios de
        anuncios y marketing. Específicamente, usamos las cookies y otras tecnologías de seguimiento para los siguientes
        propósitos:
        Cookies de redes sociales
        Estas cookies están configuradas por una serie de servicios de redes sociales que hemos agregado al sitio para
        permitirle compartir nuestro contenido con sus amigos y redes. Son capaces de hacerle seguimiento a su navegador
        a través de otros sitios y crear un perfil de sus intereses. Esto podrá modificar el contenido y los mensajes
        que encuentra en otras páginas web que visita. Si no permite estas cookies no podrá ver o usar estas
        herramientas para compartir.

    </p>
    <br>
    <br>
    <br>


    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <p><a href="#">Politica de Privacidad</a></p>
                            <p><a href="#">Politica de Cookies</a></p>
                            <p><a href="#">Configuracion de Cookies</a></p>
                            <p><a href="#">Terminos y Condiciones</a></p>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item ejemplo">
                        <h3>Redes Sociales</h3>
                        <ul class="ul-image">
                            <a th:href="@{http://www.facebook.es}">
                                <img th:src="@{/images/logos/001-facebook.png}">
                            </a>
                            <a th:href="@{http://www.instagram.es}">
                                <img th:src="@{/images/logos/011-instagram.png}">
                            </a>
                            <a th:href="@{htpp://www.whatsapp.es}">
                                <img th:src="@{/images/logos/003-whatsapp.png}">
                            </a>
                            <a th:href="@{http://www.twitter.es}">
                                <img th:src="@{/images/logos/002-twitter.png}">
                            </a>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Newsletter</h3>
                        <form action="">
                            <label for="">Email</label>
                            <input type="text" name="" id="">
                            <button type="submit">Enviar</button>
                        </form>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                                class="icon ion-social-twitter"></i></a><a href="#"><i
                                class="icon ion-social-snapchat"></i></a><a href="#"><i
                                class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">CEMA Clothes 2021 © Todos los derechos reservados</p>
            </div>
        </footer>
    </div>
</body>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</html>