<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" ​>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/usuarios.css}" rel="stylesheet" />

    <title>Usuarios | Modelos</title>
</head>

<body>

    <div class="menu">
        <div class="logo">
            <img height="80" width="200" class="logo-image" th:src="@{'../images/CEMA-logo-definitivo.svg'}" />
        </div>
        <div class="cuadros-texto">
            <input type="search" class="entrada" placeholder="Haga su busqueda..." autofocus required>
            <input class="buscar" type="submit" value="Buscar">
        </div>
        <div class="inicio">
            <button class="iniciar-sesion" type="submit" value="Iniciar Sesión | Registrarse">Iniciar Sesión | Registrarse</button>
        </div>
    </div>


    <div class="contenedor">

        <div th:each="usu : ${usuarios}" th:object="${usu}">
            <div class="usuario">
                <div class="usuario-usuario">
                    <p th:text="*{usuario}"></p>
                </div>
                <div class="usuario-imagen">
                    <img th:src="*{imagen}" height="200px" width="200px" />
                </div>
                <div class="usuario-ciudad">
                    <p th:text="*{ciudad}"></p>
                </div>
                <div class="usuario-pais">
                    <p th:text="*{pais}"></p>
                </div>
                <div class="usuario-sexo">
                    <p th:text="*{sexo}"></p>
                </div>
                <span class="titulo-modelo" th:if="*{modelo == true}">Modelo</span>
            </div>
        </div>
    </div>
</body>

</html>